@import url('https://fonts.googleapis.com/css?family=Abel');

body {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	font-family: 'Abel';
}

ul {
	display: flex;
	flex-basis: 20%;
	border: 1px solid;
	border-color: #f1f1f1;
	padding: 1em;
	list-style: none;
}
h3 {
	color: #4382cb;
}
.Avail {
	color: red;
}

.profile {
	border-radius: 50%;
}
